body {

    max-width: 800px;
    

    font-family: "Jost", sans-serif;
    /* background-color:  */
}

body {
    margin: 0;
}

h1 {
    font-family: "Protest Strike", sans-serif;
}

.Intro {
    color: red; /* test */
}