body {
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;

    background-color: ghostWhite;
    background: linear-gradient(to bottom, ghostWhite, #fff1b3);
    font-family: "Jost", sans-serif;
}

body,
button {
    font-family: "Jost", sans-serif;
}



.App {
    margin-top: 2rem;
    max-width: 800px;
}

.Intro h1 {
    text-align: center;
    font-size: 4rem;
    font-style: italic;
    color: #800000;
    color: #FFA500;
}

.Intro {
    color: #800000;
}

.SongList ul {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.SongList li {
    list-style-type: none;
}

.SongList h2 {
    color: #FFD700;
    text-align: center;
}

.SongList .heading-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.SongList h3 {
    display: inline-block;
    color: #FFA500;
}


.SongList .image-container {
    max-width: 12rem;
}

.SongList .image-container img {
    width: 100%;
}

.SongList span.release-date {
    display: block;
    font-style: italic;
    color: #A52A2A;
}

.LikeButton {
    background-color: lightGrey;
    color: black;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
}

.LikeButton.liked {
    background-color: gold;
    color: white;
}